@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d385;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 68%;
  position: relative;
  top: 100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin-bottom: -23px;
  width: 260px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1343px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: black;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active{
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.full-size{
  max-height: 78%;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.main-thumbnail{
  display: block;
  margin: 0 auto;
  height: 75%;
}
.heading{
  width: 100%;
  height: 67px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px -4px 20px 0px black;
  background-color: white;
}
h1{
  display: block;
  margin-left: 111px;
}
.creationDate{
  color: lightgrey;
  font-size: 13px;
  display: block;
  margin-left: 111px;
}
.back{
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 13px;
  left: 38px;
  cursor: pointer;
  i{
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 23px;
  }
}
.back:hover{
  background: gainsboro;
  transition: 0.3s;
}
.backLink{
  color: black;
  text-decoration: none;
}