@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  .header{
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -4px 20px 0px black;
    background-color: white;
    h1{
      display: block;
      float: left;
      margin: 10px;
    }
    a{
      color: black;
      text-decoration: none;
      .logout{
        display: block;
        float: right;
        align-items: center;
        padding: 23px 25px;
      }
      .logout:hover{
        background-color: #9999996b;
        transition: 0.3s;
      }
    }
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 68%;
    position: relative;
    top: 100px;
    .column {
      margin-right: 50px;
      position: relative;
      cursor: pointer;
      .editButton{
        position: absolute;
        top: 6px;
        right: 6px;
        display: none;
        .editLink{
          color: white;
          text-decoration: none;
          .edit{
            height: 28px;
            width: 28px;
            background-color: #00000059;
            border-radius: 7px;
            i{
              position: absolute;
              top: 5px;
              left: 6px;
            }
          }
        }
      }
      img.hover-shadow {
        transition: 0.3s;
      }
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .main-thumbnail{
        display: block;
        margin: 0 auto;
        height: 76%;
      }
      .albumName{
        font-weight: bold;
      }
    }
    .column:hover{
      .editButton{
        display: initial;
        transition: 0.5s;
      }
    }
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  a{
    text-decoration: none;
    color: black;
    .addAlbum{
      position: absolute;
      bottom: 25px;
      right: 25px;
      font-size: 50px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      box-shadow: 0 0 7px black;
      cursor: pointer;
      i{
        position: absolute;
        top: 10px;
        left: 13px;
      }
    }
    .addAlbum:hover{
      box-shadow: 0 0 20px black;
      transition: 0.3s;
    }
  }
}
