@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*REKLAMA*/
div[style*="clear:both;width:100%;height:60px;padding:0px;z-index:99;position:relative;"]{
    display: none;
}

#div_container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
}

#div_login_form {
    width: 80vw;
    max-width: 500px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

form {
    width: 300px;
    margin: -8px auto;
}

fieldset {
    position: relative;
    border: none;
}

label {
    position: absolute;
    top: 18px;
    color: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transition: all 0.3s ease;
}

input:focus ~ label {
    color: red;
}

input:focus ~ label,
input:valid ~ label {
    top: 0;
    transform: scale(0.6, 0.6);
}

input {
    font-size: 20px;
    width: 100%;
    border: none;
    margin-top: 25px;
}

input:focus {
    outline: none;
}

.after {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, red 50%, transparent 50%);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: all 0.6s ease;
}

input:focus ~ .after {
    background-position: 0 0;
}

h1 {
    text-align: center;
}
.error{
    text-align: center;
    margin-top: 8px;
    color: red;
    height: 22px;
}

#input_submit {
    background-color: #FFFFFF;
    border: solid;
    border-color: #424242;
    border-radius: 7px;
    margin-top: 29px;
    padding-top: 1px;
    padding-bottom: 5px;
}

#input_submit:hover {
	background-color: #EEEEEE;
	border: solid;
	border-color: #000000;
	border-radius: 7px;
	margin-top: 29px;
	padding-top: 1px;
	padding-bottom: 5px;
	cursor: pointer;
}
#div_container {
    width: 100vw;
    height: 100vh;
}

.div_student {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 60px -19px rgba(0, 0, 0, 0.85);
    padding: 15px;
}