@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  .header {
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -4px 20px 0px black;
    background-color: white;
    h1 {
      display: block;
      float: left;
      margin: 10px;
    }
    a {
      color: black;
      text-decoration: none;
      .logout {
        display: block;
        float: right;
        align-items: center;
        padding: 23px 25px;
      }
      .logout:hover {
        background-color: #9999996b;
        transition: 0.3s;
      }
    }
  }
  .main{
    width: 68%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    .albumName{
      display: block;
    }
    #name{
      display: block;
      width: 260px;
      height: 30px;
      font-size: 22px;
      margin-bottom: 25px;
    }
    .upload{
      display: block;
      margin-bottom: 25px;
    }
  }
}