@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }
  body .header {
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -4px 20px 0px black;
    background-color: white; }
    body .header h1 {
      display: block;
      float: left;
      margin: 10px; }
    body .header a {
      color: black;
      text-decoration: none; }
      body .header a .logout {
        display: block;
        float: right;
        align-items: center;
        padding: 23px 25px; }
      body .header a .logout:hover {
        background-color: #9999996b;
        transition: 0.3s; }
  body .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 68%;
    position: relative;
    top: 100px; }
    body .row .column {
      margin-right: 50px;
      position: relative;
      cursor: pointer; }
      body .row .column .editButton {
        position: absolute;
        top: 6px;
        right: 6px;
        display: none; }
        body .row .column .editButton .editLink {
          color: white;
          text-decoration: none; }
          body .row .column .editButton .editLink .edit {
            height: 28px;
            width: 28px;
            background-color: #00000059;
            border-radius: 7px; }
            body .row .column .editButton .editLink .edit i {
              position: absolute;
              top: 5px;
              left: 6px; }
      body .row .column .deleteButton {
        position: absolute;
        top: 40px;
        right: 6px;
        display: none; }
        body .row .column .deleteButton .deleteLink {
          color: white;
          text-decoration: none; }
          body .row .column .deleteButton .deleteLink .delete {
            height: 28px;
            width: 28px;
            background-color: #00000059;
            border-radius: 7px; }
            body .row .column .deleteButton .deleteLink .delete i {
              position: absolute;
              top: 5px;
              left: 6px; }
      body .row .column img.hover-shadow {
        transition: 0.3s; }
      body .row .column .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      body .row .column .main-thumbnail {
        display: block;
        margin: 0 auto;
        height: 76%; }
      body .row .column .albumName {
        font-weight: bold; }
    body .row .column:hover .editButton {
      display: initial;
      transition: 0.5s; }
    body .row .column:hover .deleteButton {
      display: initial;
      transition: 0.5s; }
  body .row:after {
    content: "";
    display: table;
    clear: both; }
  body a {
    text-decoration: none;
    color: black; }
    body a .addAlbum {
      position: absolute;
      bottom: 25px;
      right: 25px;
      font-size: 50px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      box-shadow: 0 0 7px black;
      cursor: pointer; }
      body a .addAlbum i {
        position: absolute;
        top: 10px;
        left: 13px; }
    body a .addAlbum:hover {
      box-shadow: 0 0 20px black;
      transition: 0.3s; }

/*# sourceMappingURL=index.css.map */
